<article class="comment-card">
    <header class="comment-header">
        <span class="comment-author">{{author}}</span>
        <time class="comment-timestamp" datetime="{{createdAt}}">
            {{formatDate createdAt}}
        </time>
    </header>
    <p class="comment-text">{{text}}</p>
</article>
